$main-font-family: 'Inter', sans-serif;

$main-font-color: rgba(20, 28, 36, 1);

$input-placeholder-color: rgba(99, 112, 131, 1);
$input-border-color: rgba(206, 210, 218, 1);

$disabled-text-color: rgba(151, 161, 175, 1);
