.preloader {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;

  &_circle {
    animation: spin 0.75s infinite linear;
    border: 1px solid;
    border-color: #d1d2d6 #9fa0a5 #626368 #1a1b22;
    border-radius: 50%;
    display: block;
    block-size: 20px;
    inset: 0;
    margin: auto;
    position: relative;
    inline-size: 20px;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
